<%- include("../layouts/admin/header.ejs") %>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">

<div class="text-center min-vh-100 d-flex flex-column justify-content-center align-items-center bg-light">
  <h1 class="display-1 text-danger">Error</h1>
  <h2 class="text-dark mb-3">Status Code: <%= statusCode %></h2>
  <p class="lead text-muted mb-4"><%= message %></p>
  <a href="/admin/dashboard" class="btn btn-dark">Go to Admin Dashboard</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

<%- include("../layouts/admin/footer.ejs") %>
